<section class="upcoming-shows-section dark-bg">
  <div class="container">
    <h2 class="section-title white-text">Todas las Entradas</h2>

    <div class="shows-grid">
      <div class="show-card dark-theme" *ngFor="let e of Entradas">
        <div class="card-content">
          <h3>{{ e.nombre }}</h3>
          <h4>{{ e.eventoId }}</h4>
          <p class="show-date">${{ e.precio }}</p>

          <div class="card-actions">
            <a (click)="Modificar(e)" class="info-link">Modificar</a>
            <a (click)="Eliminar(e)" class="info-link">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>