<div *ngIf="currentUser">
  <div *ngIf="currentUser.rol === 'administrador' || currentUser.rol === 'organizador'" class="layout">
    <app-sidebar (optionSelected)="onOptionSelected($event)"></app-sidebar>
    <main class="container">
      <h1 class="panel-title">Bienvenido al Panel de Administración</h1>

      <ng-container *ngIf="selectedOption === 'general'">
        <app-general></app-general>
      </ng-container>

      <ng-container *ngIf="selectedOption === 'users' && currentUser.rol === 'administrador'">
        <app-lista-usuarios></app-lista-usuarios>
      </ng-container>

      <ng-container *ngIf="selectedOption === 'events'">
        <app-lista-eventos></app-lista-eventos>
      </ng-container>

      <ng-container *ngIf="selectedOption === 'categories' && currentUser.rol === 'administrador'">
        <app-lista-categorias></app-lista-categorias>
      </ng-container>

      <ng-container *ngIf="selectedOption === 'posts'">
        <app-lista-entradas></app-lista-entradas>
      </ng-container>
      <ng-container *ngIf="selectedOption === 'users' && currentUser.rol === 'administrador'">
        <app-lista-organizadores></app-lista-organizadores>
      </ng-container>

    </main>
  </div>
</div>