<nav class="navbar" [ngClass]="{ 'navbar-scrolled': navbarScrolled }">
  <div class="navbar-container">

    <!-- Logo como botón en móvil -->
    <div class="navbar-logo-container" (click)="toggleMenu()">
      <img src="assets/img/logo.png" alt="Entradix Logo" class="navbar-logo">
    </div>

    <!-- Menú de navegación -->
    <ul class="navbar-menu" [ngClass]="{ 'show': menuAbierto, 'show-scrolled': navbarScrolled }">
      <li><a [routerLink]="['/inicio']" class="navbar-item" (click)="cerrarMenu()">Inicio</a></li>
      <li><a [routerLink]="['/eventos']" class="navbar-item" (click)="cerrarMenu()">Eventos</a></li>

      <li *ngIf="!currentUser">
        <a routerLink="/login" class="navbar-item navbar-button" (click)="cerrarMenu()">Iniciar Sesión</a>
      </li>

      <li class="navbar-cart" *ngIf="carritoTotal > 0 && currentUser">
        <a [routerLink]="['/carrito']" class="navbar-item" (click)="cerrarMenu()">
          <i class="fas fa-shopping-cart"></i>
          <span class="cart-badge">{{ carritoTotal }}</span>
        </a>
      </li>

      <li *ngIf="currentUser" class="user-profile-menu" (click)="toggleDropdown()">
        <span class="navbar-item user-greeting">
          Hola, {{ currentUser.nombre }}
        </span>
        <div class="dropdown-menu" [ngClass]="{ 'dropdown-menu-scrolled': navbarScrolled}">
          <a [routerLink]="['/micuenta']" class="dropdown-item" (click)="cerrarMenu()" [ngClass]="{ 'dropdown-item-scrolled': navbarScrolled}">Mi Cuenta</a>
          <a *ngIf="currentUser.rol === 'administrador' || currentUser.rol === 'organizador'" [ngClass]="{ 'dropdown-item-scrolled': navbarScrolled}" [routerLink]="['/gestion']" class="dropdown-item" (click)="cerrarMenu()">Gestión</a>
          <a (click)="logout(); cerrarMenu()" class="dropdown-item logout-button" [ngClass]="{ 'dropdown-item-scrolled': navbarScrolled}">Cerrar Sesión</a>
        </div>
      </li>
    </ul>

  </div>
</nav>