<nav class="navbar">
    <div class="navbar-container">
        <ul class="navbar-menu">
            <li><a href="" class="navbar-item navbar-button">Iniciar Sesion</a></li>
            <li><a [routerLink]="['inicio']" class="navbar-item">Inicio</a></li>
            <li><a href="#services" class="navbar-item">Eventos</a></li>
            <li><a href="#projects" class="navbar-item">Contactar</a></li>
        </ul>
        <div class="navbar-logo-container">
            <img src="assets/img/logo.png" alt="Logo" class="navbar-logo">
        </div>
    </div>
</nav>