<div *ngIf="currentUser">
  <div class="layout">
    <app-aside-cuenta (optionSelected)="onOptionSelected($event)"></app-aside-cuenta>
    <main class="container">
      <h1 class="panel-title">Bienvenido a tu cuenta</h1>
      
      <ng-container *ngIf="selectedOption === 'entradas'">
        <app-mis-entradas></app-mis-entradas>
      </ng-container>

      <ng-container *ngIf="selectedOption === 'datos'">
        <app-datos-personales></app-datos-personales>
      </ng-container>

    </main>
  </div>
</div>