<section class="upcoming-shows-section dark-bg">
    <div class="container">
        <h2 class="section-title white-text">Todos las categorias</h2>
      <div class="shows-grid">
        <div
          class="show-card dark-theme"
          *ngFor="let c of Categorias"
        >
          <div class="card-content">
            <h3>{{ c.nombre }}</h3>
            <p class="show-date">{{ c.descripcion }}</p>
            <div class="card-actions">
              <a (click)="Modificar(c)" class="info-link">Modificar</a>
              <a (click)="Eliminar(c)" class="info-link">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>