/* Asegura que la app ocupe toda la altura de la pantalla */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar siempre arriba */
app-navbar {
  flex-shrink: 0;
  z-index: 10;
}

/* Contenido del router en el medio y se expande */
router-outlet {
  flex-grow: 1;
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
}

/* Footer fijo al final */
app-footer {
  flex-shrink: 0;
  z-index: 10;
}