<section class="summary-section" *ngIf="currentUser">
  <div>
    <h2 class="section-title">Resumen General</h2>

    <div class="summary-grid">
      <div class="summary-card admin" *ngIf="currentUser.rol === 'administrador'">
        <h3>Usuarios</h3>
        <p>{{ totalUsuarios }}</p>
      </div>

      <div class="summary-card admin" *ngIf="currentUser.rol === 'administrador'">
        <h3>Eventos</h3>
        <p>{{ totalEventos }}</p>
      </div>

      <div class="summary-card tickets">
        <h3>Entradas</h3>
        <p>{{ totalEntradas }}</p>
      </div>

      <div class="summary-card earnings">
        <h3>Ganancias</h3>
        <p>${{ totalGanancias | number:'1.2-2' }}</p>
      </div>
    </div>
  </div>
</section>
